@import "tailwindcss";

:root {
  --color-background: #CDE8C3;   /* outer green background */
  --color-screen: #1E1E1E;       /* main app background (dark) */
  --color-topbar: #3A3A3A;       /* top header bar */
  --color-searchbar: #D3D3D3;    /* search bar and cards background */
  --color-card: #D3D3D3;         /* grid item placeholders */
  --color-white: #FFFFFF;        /* white areas */
  --color-nav: #111A2D;          /* bottom navigation bar (dark navy) */
}

body {
  background-color: var(--color-screen);
}
